
.Ether {
  text-align: center;
  background-color: #262d38;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: #0046b7;
  height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
}

fhead {
  background-color: white;
}

h1{
  color: rgba(0, 0, 0, 0.9);
  margin-top: -10px;
}

t1{
  font-size: 80px;
  font-family: fantasy;
  font-style: normal;
  letter-spacing: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.spaceship {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
